body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
}
p {
  list-style: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

.head-content {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
}
.head-content .container {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
}
.header-links {
  display: flex;
  align-items: center;
}
.header-links ul {
  gap: 40px;
}
.header-contacts ul {
  display: flex;
  gap: 40px;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  max-width: 1128px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.logo-secondary-part {
  color: #2e2f42;
}

.nav-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  color: #2e2f42;
  position: relative;
}

.nav-item:hover,
.nav-item:focus {
  color: #404bbf;
}
.first {
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first::after {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-contacts-wrapper {
  font-style: normal;
}
.header-contacts {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts:hover,
.header-contacts:focus {
  color: #404bbf;
}

/* main */
.main-title {
  margin: 0 auto;
  max-width: 1440px;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 188px 0;
}
.main-title .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.btn-order {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-order:hover,
.btn-order:focus {
  background-color: #404bbf;
}
.section-features {
  padding: 120px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-list {
  gap: 24px;
}
.features-list li {
  width: calc((100% - 72px) / 4);
}
.header-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.features {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  height: 112px;
  margin-bottom: 8px;
  background-color: #f4f4fd;
}
.our-team-list {
  gap: 24px;
}

.team-card-description-container {
  padding: 32px 0;
}
.team-card-description-container .team {
  margin-bottom: 8px;
  text-align: center;
}
.team-card-description-container .body-text {
  text-align: center;
}
.team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-h3-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.body-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.header-h2 {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}
.our-team {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-our-portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.our-team-element {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc((100% - 3 * 24px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.social-networks-links-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}
.social-networks-links-list-item {
  height: 40px;
  width: 40px;
}
.social-networks-links-list-item .link-social-media {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-social-media:hover,
.link-social-media:focus {
  background-color: #404bbf;
}
.social-networks-links-list-item .link-social-media .icon {
  fill: #f4f4fd;
}
.portfolio-description-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-description-container .team {
  margin-bottom: 8px;
}
.our-portfolio-list {
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio-element {
  margin-top: 48px;
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-portfolio-element:hover {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow:
    0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.our-portfolio-element .overlay {
  position: relative;
  overflow: hidden;
}
.our-portfolio-element .overlay .body-text-footer {
  position: absolute;
  top: 0;
  color: #f4f4fd;
  padding: 40px 32px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-portfolio-element .overlay:hover .body-text-footer {
  transform: translateY(0);
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer .container {
  display: flex;
  align-items: baseline;
  gap: 120px;
  padding: 0 15px;
}
.footer .footer-description {
  max-width: 264px;
  margin-right: 120px;
}

.footer-social-media .body-text-footer {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.logo-secondary-part-footer {
  color: #f4f4fd;
}
.footer-social-media .social-networks-links-list {
  gap: 16px;
}
.footer-social-media
  .social-networks-links-list
  .social-networks-links-list-item
  .link-social-media:hover,
.footer-social-media
  .social-networks-links-list
  .social-networks-links-list-item
  .link-social-media:focus {
  background-color: #31d0aa;
}
.subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.form-subscribe {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.subscribe-button {
  border: none;
  border-radius: 4px;
  padding-block: 8px;
  padding-inline: 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.icon-arrow{
  margin-left: 16px;
}
/* modal */
.is-active {
  opacity: 0;
  visibility: none;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 584px;
  padding: 72px 24px 24px 24px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* button for closing modal */
.exit-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.exit-btn:hover,
.exit-btn:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.icon-exit {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* -------------------------------------------- */

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

/* ------FORM ANSWERS----- */

.modal-form {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.form-element-container {
  margin-bottom: 8px;
}
.label-input {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.input-container {
  position: relative;
}
.input-container .forms-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .forms-icon {
  fill: #4d5ae5;
}

.textarea-container {
  margin-bottom: 16px;
}
.textarea-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea-comment:focus {
  border-color: #4d5ae5;
}

.checkbox-container {
  margin-bottom: 24px;
}
.checkbox-icon-container {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-checkbox:checked + .label-input .checkbox-icon-container {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.link-privacy {
  color: #4d5ae5;
}

.btn-submit {
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
